<h1>Fall 2017</h1>
<div class="container">
    <form #weeksForm="ngForm">
        <div class="row">
            <div class="col-sm-2">
                <h5>Week</h5>
            </div>
            <div class="col-sm-6">
                <input style="width: 200px" type="text" id="weekname" 
                class="form-control" placeholder="Week" [(ngModel)]="testString" name="weekname" />
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2">
                <h5>Government and Organizational Leadership</h5>
            </div>
            <div class="col-sm-1">
                <input class="form-control" placeholder="Mon">
            </div>
            <div class="col-sm-1">
                <input class="form-control" placeholder="Tue">
            </div>
            <div class="col-sm-1">
                <input class="form-control" placeholder="Wed">
            </div>
            <div class="col-sm-1">
                <input class="form-control" placeholder="Thurs">
            </div>
            <div class="col-sm-1">
                <input class="form-control" placeholder="Fri">
            </div>
        </div>


        <div class="row">
            <div class="col-sm-2">
                <h5>Strategic Planning and Continuous Improvement</h5>
            </div>
            <div class="col-sm-1">
                <input class="form-control" placeholder="Mon">
            </div>
            <div class="col-sm-1">
                <input class="form-control" placeholder="Tue">
            </div>
            <div class="col-sm-1">
                <input class="form-control" placeholder="Wed">
            </div>
            <div class="col-sm-1">
                <input class="form-control" placeholder="Thurs">
            </div>
            <div class="col-sm-1">
                <input class="form-control" placeholder="Fri">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2">
                <h5>Student and Other Stakeholder Focus</h5>
            </div>
            <div class="col-sm-1">
                <input class="form-control" placeholder="Mon">
            </div>
            <div class="col-sm-1">
                <input class="form-control" placeholder="Tue">
            </div>
            <div class="col-sm-1">
                <input class="form-control" placeholder="Wed">
            </div>
            <div class="col-sm-1">
                <input class="form-control" placeholder="Thurs">
            </div>
            <div class="col-sm-1">
                <input class="form-control" placeholder="Fri">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2">
                <h5>Faculty and Staff Focus</h5>
            </div>
            <div class="col-sm-1">
                <input class="form-control" placeholder="Mon">
            </div>
            <div class="col-sm-1">
                <input class="form-control" placeholder="Tue">
            </div>
            <div class="col-sm-1">
                <input class="form-control" placeholder="Wed">
            </div>
            <div class="col-sm-1">
                <input class="form-control" placeholder="Thurs">
            </div>
            <div class="col-sm-1">
                <input class="form-control" placeholder="Fri">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2">
                <h5>Educational Programs and Support</h5>
            </div>
            <div class="col-sm-1">
                <input class="form-control" placeholder="Mon">
            </div>
            <div class="col-sm-1">
                <input class="form-control" placeholder="Tue">
            </div>
            <div class="col-sm-1">
                <input class="form-control" placeholder="Wed">
            </div>
            <div class="col-sm-1">
                <input class="form-control" placeholder="Thurs">
            </div>
            <div class="col-sm-1">
                <input class="form-control" placeholder="Fri">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2">
                <h5>Using Data to Imporve Performace Resutls</h5>
            </div>
            <div class="col-sm-1">
                <input class="form-control" placeholder="Mon">
            </div>
            <div class="col-sm-1">
                <input class="form-control" placeholder="Tue">
            </div>
            <div class="col-sm-1">
                <input class="form-control" placeholder="Wed">
            </div>
            <div class="col-sm-1">
                <input class="form-control" placeholder="Thurs">
            </div>
            <div class="col-sm-1">
                <input class="form-control" placeholder="Fri">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2">
                <h5>Procedues for Evaluation and Intervention</h5>
            </div>
            <div class="col-sm-1">
                <input class="form-control" placeholder="Mon">
            </div>
            <div class="col-sm-1">
                <input class="form-control" placeholder="Tue">
            </div>
            <div class="col-sm-1">
                <input class="form-control" placeholder="Wed">
            </div>
            <div class="col-sm-1">
                <input class="form-control" placeholder="Thurs">
            </div>
            <div class="col-sm-1">
                <input class="form-control" placeholder="Fri">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2">
                <h5>Chartered Nonpublic Schools</h5>
            </div>
            <div class="col-sm-1">
                <input class="form-control" placeholder="Mon">
            </div>
            <div class="col-sm-1">
                <input class="form-control" placeholder="Tue">
            </div>
            <div class="col-sm-1">
                <input class="form-control" placeholder="Wed">
            </div>
            <div class="col-sm-1">
                <input class="form-control" placeholder="Thurs">
            </div>
            <div class="col-sm-1">
                <input class="form-control" placeholder="Fri">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2">
                <h5>Entry Year</h5>
            </div>
            <div class="col-sm-1">
                <input class="form-control" placeholder="Mon">
            </div>
            <div class="col-sm-1">
                <input class="form-control" placeholder="Tue">
            </div>
            <div class="col-sm-1">
                <input class="form-control" placeholder="Wed">
            </div>
            <div class="col-sm-1">
                <input class="form-control" placeholder="Thurs">
            </div>
            <div class="col-sm-1">
                <input class="form-control" placeholder="Fri">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2">
                <h5>Professional Associate License Renewal</h5>
            </div>
            <div class="col-sm-1">
                <input class="form-control" placeholder="Mon">
            </div>
            <div class="col-sm-1">
                <input class="form-control" placeholder="Tue">
            </div>
            <div class="col-sm-1">
                <input class="form-control" placeholder="Wed">
            </div>
            <div class="col-sm-1">
                <input class="form-control" placeholder="Thurs">
            </div>
            <div class="col-sm-1">
                <input class="form-control" placeholder="Fri">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2">
                <h5>Transportation of Pupils</h5>
            </div>
            <div class="col-sm-1">
                <input class="form-control" placeholder="Mon">
            </div>
            <div class="col-sm-1">
                <input class="form-control" placeholder="Tue">
            </div>
            <div class="col-sm-1">
                <input class="form-control" placeholder="Wed">
            </div>
            <div class="col-sm-1">
                <input class="form-control" placeholder="Thurs">
            </div>
            <div class="col-sm-1">
                <input class="form-control" placeholder="Fri">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2">
                <h5>Federally Funded Education Programs</h5>
            </div>
            <div class="col-sm-1">
                <input class="form-control" placeholder="Mon">
            </div>
            <div class="col-sm-1">
                <input class="form-control" placeholder="Tue">
            </div>
            <div class="col-sm-1">
                <input class="form-control" placeholder="Wed">
            </div>
            <div class="col-sm-1">
                <input class="form-control" placeholder="Thurs">
            </div>
            <div class="col-sm-1">
                <input class="form-control" placeholder="Fri">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <h5>Unemployment and Worker's Compensation</h5>
            </div>
            <div class="col-sm-1">
                <input class="form-control" placeholder="Mon">
            </div>
            <div class="col-sm-1">
                <input class="form-control" placeholder="Tue">
            </div>
            <div class="col-sm-1">
                <input class="form-control" placeholder="Wed">
            </div>
            <div class="col-sm-1">
                <input class="form-control" placeholder="Thurs">
            </div>
            <div class="col-sm-1">
                <input class="form-control" placeholder="Fri">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2">
                <h5>Other</h5>
            </div>
            <div class="col-sm-1">
                <input class="form-control" placeholder="Mon">
            </div>
            <div class="col-sm-1">
                <input class="form-control" placeholder="Tue">
            </div>
            <div class="col-sm-1">
                <input class="form-control" placeholder="Wed">
            </div>
            <div class="col-sm-1">
                <input class="form-control" placeholder="Thurs">
            </div>
            <div class="col-sm-1">
                <input class="form-control" placeholder="Fri">
            </div>
        </div>
        <br />
        <div class="row">
            <div class=col-sm-2>
                <button type="submit btn btn-primary" class="form-control" (click)="testMethod()">Submit</button>
            </div>
        </div>
    </form>
</div>


<h1>{{test}}</h1>
<h1>{{testString}}</h1>

<!-- dotnet generate weather fetcher
    <h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!forecasts"><em>Loading...</em></p>

<table class='table' *ngIf="forecasts">
    <thead>
        <tr>
            <th>Date</th>
            <th>Temp. (C)</th>
            <th>Temp. (F)</th>
            <th>Summary</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let forecast of forecasts">
            <td>{{ forecast.dateFormatted }}</td>
            <td>{{ forecast.temperatureC }}</td>
            <td>{{ forecast.temperatureF }}</td>
            <td>{{ forecast.summary }}</td>
        </tr>
    </tbody>
</table> -->